@font-face{
  font-family: "AppleMyungjo";
  src: url('../fonts/AppleMyungjo.ttf') format("truetype");
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.App {
  text-align: center;
  background-color: #f4f8fc;
  /* background-color: #f9f9f9; */
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Header-logo {
  height: 35px;
  padding: 2%;
}

.Header-right {
  display: flex;
  margin-left: auto;
  padding: 2%;
  color: white;
}

.Header-button {
  color: white;
  margin-left: 20px;
  background-color:  rgb(75, 122, 162);
  border: .1px solid #900;
  border-color:  rgb(75, 122, 162);
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
}

.Header {
  background-color: rgb(75, 122, 162);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Welcome-title {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  color: #3e5b73;
  font-family: "HelveticaNeue-Thin", Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 0px;
  display: inline-block;  
}

.Welcome-card {
  background-color: white;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 2%;
  padding: 2%;
  height: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  width: 317px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0px;
  border-color: #3e5b73;
  font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size: 14px;
  text-decoration: none;
  color: #3e5b73;
  cursor: pointer;
}

.Welcome-img {
  height: 90px;
  margin-top: 10%;
  margin-bottom: 3%;
}

.Welcome-body {
  display: flex;
  justify-content: center;
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, serif;
  color: rgb(91, 170, 215);
  height: 100%;
}

.Back-to-login {
  margin-bottom: 10%;
  padding: 20px;
  box-sizing: content-box;
  border-radius: 5px;
  background-color: rgb(75, 122, 162);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-image: linear-gradient(-180deg,#68a0c3, #4b7aa2 98%); */
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.Welcome {
  justify-content: center;
}

.Create-schedule-title {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  color: #3e5b73;
  font-family: "HelveticaNeue-Thin", Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 0px;
  display: inline-block;    
}

.Create-schedule-card {
  background-color: white;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 2%;
  padding: 2%;
  height: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  width: 317px;
  border-radius: 5px;
  border-style: solid;
  border-width: 0px;
  border-color: #3e5b73;
  font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size: 14px;
  text-decoration: none;
  color: #3e5b73;
  cursor: pointer;
}